*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

html, body{
  height: 100%;
  display: flex;
  flex-direction: column;
}

body{
  font-family: 'Playfair Display', serif;
  padding-top: 15vh;
}

main{
  flex: 1;
}

.topo{
    background-color:#6B0D26;
    display: flex;
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    position: fixed;
    top: 0;
    width: 100%;
}

  .pesquisa{
    position: relative; /*permite posicionar de forma absoluta*/
    width: 250px; 
    align-content: center;
  }

  .pesquisa i{
    position: relative;
    left: 10px; /* distancia do icone 10 px a esquerda do container*/
    top: 10px; /* posiciona no meio do container em altura*/
    pointer-events: none;
    color: #7e797a;  
    z-index: 2;
  }

  .pesquisa input{
    width: 100%;/*100% do container*/
    padding: 10px 10px 10px 35px; /*o ultimo é o left*/
    border: 1px solid #ccc;
    font-size: 14px;
     transform: translateY(-50%); /* centraliza verticalmente o ícone */
  }

  .botoes_topo button{
    color:#FFFFFF;
    font-size:30px;
    background: none;
    border: none;
    padding: 5px;
}

    

#logo img {
  width: 230px;
  height: auto;
}



.botoes_topo img{
  width: 35px;
  fill: #FFFFFF;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #F2D5CF;
  margin-top: 0%;
}

.menu :hover{
  color: #6B0D26;
  
}
.menu li{
  list-style: none;
}
.menu li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.rodape{
  display: flex;
  border: #6B0D26 1px solid;
  margin-top: 30px;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  background-color: #6B0D26;
  color: #FDF4EF;
  font-size: 15px;
}

.redes{
align-items: center;
justify-content: center;
}

.redes a {
  color: aliceblue;
}

.container{
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
  margin-top: 15px;
}

.gradeA{
  display: flex;
  flex-direction: column;
  /* gap: 5vh; define o espaço vertical entre os itens */
  border: red 1px solid;
}

.gradeA button{
  font-size: 16px;
  border: none;
   background: none;
  border: none;      
  color: inherit;    
  padding: 0;       
  cursor: pointer; 
  margin-top: 5px;
  position: relative;
  left: -30px;
}

.imagem{
  display: flex;
  flex-direction: column; /*deixar as imagens empilhadas*/
  border: rgb(208, 214, 132) 1px solid;
}

.imagem img{
  width: 180px;
  margin-top: 30px;
}

.gradeB{
  border: rgb(0, 187, 255) 1px solid;
  width: 40vw;
  height: 63vh;
}

.gradeB img{
 width: 100%;
  height: 100%;
  object-fit: cover; 
}

.gradeC{
  border: rgb(4, 255, 0) 1px solid;
}