*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

.topo{
    background-color:#5f051f;
    display: flex;
    height: 15vh;
    justify-content: space-between;
}

.pesquisa {
  display: flex;
  align-items: center;
  margin-left: 100px;
  /* border: solid red 1px; */
 /* justify-content: center; */
}


.pesquisa i, .botoes_topo button{
    color:#FFFFFF;
    font-size:30px;
    background: none;
    border: none;
    padding: 5px;
}



.pesquisa input{
    padding: 9px;
    /* margin-top: 0; */
}
    



#logo img {
  width: 230px;
  height: auto;
  margin-left: -200px;
  
}

.botoes_topo{
   margin-right: 90px;
    margin-top:30px ;
  
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu li{
  list-style: none;
}
.menu li a{
  text-decoration: none;
  color: black;
}


