*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

#topo{
    background-color: #4A3359;
    display: flex;
    height: 15vh;
    justify-content: space-between;
}

.pesquisa {
  display: flex;
  align-items: center;
  margin-left: 100px;
 
}


.pesquisa i{
    border: 1px, red, solid;
    color:#FFFFFF;
    font-size:30px;
   
}



.pesquisa input{
    padding: 9px;
    margin-bottom: 10px;
    
}


#logo img {
  width: 230px;
  height: auto;
  margin-left: -200px;
  
}

.botoes_topo{
   margin-right: 90px;
    margin-top:30px ;
  
}






